/* This file will contain the css file from the original portfolio.
 (home, about, contact, portfolio) import this file into each page */

 body, html {
     height: 100%;
     font-family: "Playfair Display", sans-serif;
     font-weight: 500;
 }

 /* add headers as needed */
 h1 {
     font-family: "Playfair Display", serif;
     font-style: italic;
     font-weight: 600%;
     font-size: 75px
 }

.home-container {
    margin: 0 auto;
    /* need to add different font family */
    font-family: san-serif; 
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQRy4QDOCDRXpnw3Ckyu_w2nnklyYSXm7lazA&usqp=CAUhttps://www.wentzstore.com/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/f/u/fundo_1845__capa2.jpg") no-repeat;    /* need to add an image */
    background-size: cover;
    margin: 0 auto;
    /* 100vh = 100% view height */
    height: 100vh
}

.contact-container {
    margin: 0 auto; 
    /* need to add another font-family */
    font-family: sans-serif; 
    /* need to add background  */
    background: url("https://imgix.bustle.com/uploads/shutterstock/2020/3/25/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.contact-wrapper {
    width: 100%;
    /* border: 1px, black; */
    margin: 0px;
}
.form-wrapper {
    background: white;
    /* width: 100px; */
    margin-bottom: 100px;
    padding-bottom: 20px;
    
}
.contact-title {
    width: 100%;
    margin: 10px;
    color: #12343b
}

.title-wrapper {
    width: 50%;
    /* background: white; */
    margin-top: 40px;
}
.form-wrapper button {
    background: #2d545e;
    border-radius: 15px;
    margin-left: 100px;
    color: white;

}
.form-group {
    width: 700px;
    padding: 20px;
    margin-right: 435px;
}

.form-control {
    margin-left: 225px;
    /* margin-right: 275px; */
}

.label {
    margin-left: 200px;
}
.submitBtn {
    margin-left: 500px;
    cursor: pointer;
}

.name-title{
    padding: 400px 0px 0px 0px;
    color: #12343b;
}
.head-title{
    padding: 50px 0px 0px 0px;
    background: white;
}
.icon {
    color: #12343b;
}

.navbar {
    border-bottom: none;
    background: none;
    color: white;
    /* justify-content: center; */
}

.navbar-wrapper {
    margin-top: 20px;
    margin-left: 225px;
    background-color: #2d545e;
    border-radius: 15px;
    width: 50%;
}
a {
    color: white;
}


.footer {
    margin-top: 50px;
    margin-left: 370px;
}